<app-secondarynavbar></app-secondarynavbar>


<div id="si-eres" class="pasos-container" #pasos>
    <div class="titulo">
        <div class="content-titulo-pasos">
            <h2>Pasos para hacerte parte</h2>
            <div class="line-morado"></div>
         </div>
    </div>
    <div class="listas-content">
        <div class="lista-cliente">
            <div class="cliente">
                <ul>
                    <li><b>01</b><div> Regístrate</div></li>
                    <li><b>02</b><div>Registra tu pedido en la app</div></li>
                    <li><b>03</b> <div>Espera a que un viajero te contacte</div></li>
                    <li><b>04</b><div>Recibe tu pedido</div></li>
                </ul>
            </div>
            <div class="foto-clientes">
                <h3 class="cliente-texto">Cliente</h3>
            </div>
        </div>
        <div class="lista-turista">
            <div class="foto-turista">
                <h3 class="turista-texto">Turistas</h3> 
            </div>
            <div class="turistas" >
                <ul>
                    <li><b>01</b><div> Regístrate</div></li>
                    <li><b>02</b><div>Busca a un cliente y contáctalo</div></li>
                    <li><b>03</b> <div>Compra el producto</div></li>
                    <li><b>04</b><div>Entrégalo y obtén una ganancia</div></li>
                </ul>
            </div>
        </div>
    </div>
  
</div>