<div class="main-content">
    <div class="content-titulo">
        <h2>Historial de pagos</h2>
        <div class="linea"></div>
    </div> 
    <div class="historial-content">
        <div class="pagos hechos">
            <h3>Pagos hechos</h3>
            <div class="pagohecho">
                <img src="../../../../assets/Images/FRENTE-NITIDA.jpg">
                <div>
                    <h4>Carlos Perez</h4>
                    <p>Fecha 24/09/2022</p>
                </div>
                <p><b>S/.120</b></p>
                
            </div>
            <div class="pagohecho">
                <img src="../../../../assets/Images/FRENTE-NITIDA.jpg">
                <div>
                    <h4>Carlos Perez</h4>
                    <p>Fecha 24/09/2022</p>
                </div>
                <p><b>S/.120</b></p>
                
            </div>
            <div class="pagohecho">
                <img src="../../../../assets/Images/FRENTE-NITIDA.jpg">
                <div>
                    <h4>Carlos Perez</h4>
                    <p>Fecha 24/09/2022</p>
                </div>
                <p><b>S/.120</b></p>
                
            </div>
            <div class="pagohecho">
                <img src="../../../../assets/Images/FRENTE-NITIDA.jpg">
                <div>
                    <h4>Carlos Perez</h4>
                    <p>Fecha 24/09/2022</p>
                </div>
                <p><b>S/.120</b></p>
                
            </div>
            <div class="pagohecho">
                <img src="../../../../assets/Images/FRENTE-NITIDA.jpg">
                <div>
                    <h4>Carlos Perez</h4>
                    <p>Fecha 24/09/2022</p>
                </div>
                <p><b>S/.120</b></p>
                
            </div>
        </div>
        <div class="division">
            <div class="linea-punteada"></div>
        </div>
        <div class="pagos recibidos"> 
            <h3>Pagos Recibidos</h3>
            <div class="pagohecho">
                <img src="../../../../assets/Images/FRENTE-NITIDA.jpg">
                <div>
                    <h4>Carlos Perez</h4>
                    <p>Fecha 24/09/2022</p>
                </div>
                <p><b>S/.120</b></p>
                
            </div>
            <div class="pagohecho">
                <img src="../../../../assets/Images/FRENTE-NITIDA.jpg">
                <div>
                    <h4>Carlos Perez</h4>
                    <p>Fecha 24/09/2022</p>
                </div>
                <p><b>S/.120</b></p>
                
            </div>
            <div class="pagohecho">
                <img src="../../../../assets/Images/FRENTE-NITIDA.jpg">
                <div>
                    <h4>Carlos Perez</h4>
                    <p>Fecha 24/09/2022</p>
                </div>
                <p><b>S/.120</b></p>
                
            </div>
            <div class="pagohecho">
                <img src="../../../../assets/Images/FRENTE-NITIDA.jpg">
                <div>
                    <h4>Carlos Perez</h4>
                    <p>Fecha 24/09/2022</p>
                </div>
                <p><b>S/.120</b></p>
                
            </div>
            <div class="pagohecho">
                <img src="../../../../assets/Images/FRENTE-NITIDA.jpg">
                <div>
                    <h4>Carlos Perez</h4>
                    <p>Fecha 24/09/2022</p>
                </div>
                <p><b>S/.120</b></p>
                
            </div>
        </div>
    </div>
</div>