@font-face {
    font-family: "Sofia-Pro";
    src: url("../../../../assets//Fonts/sofiapro-light.otf");
}
@font-face {
    font-family: "Monserrat";
    src: url("../../../../assets/Fonts/Montserrat-Bold.ttf");
}

/*navbar*/
@font-face {
    font-family: "Sofia-Pro";
    src: url("../../../../assets//Fonts/sofiapro-light.otf");
}

.nav-container{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 120px;
    background:white;
    font-family: "Sofia-Pro";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
}
.realcontent{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-items: center;
    height: 116px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.content-bar{
    width: 100vw;
    height: 4px;
}
.logo{
    width: 120px;
    margin-left: 1rem;
    cursor: pointer;
}
.rutas-container{
    display: flex;
    justify-content: center;
}
.rutas-container ul{
    display: flex;
    list-style: none;
}
.rutas-container li{
    display: flex;
    padding-bottom: 0.5rem;
    margin: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
}
.barra{
    width: 100vw;

}
::ng-deep .mat-progress-bar-fill::after {
    background-color: white;
}

::ng-deep .mat-progress-bar-buffer {
    background: black;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}
.btn-login{
    font-family: "Sofia-Pro";
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    padding: 1rem 0rem;
    border-radius: 2rem;
    background-color: white;
    border: black solid;
}
.btn-login:hover{
    background-color: black;
    color: white;
    border: solid white;
    cursor: pointer;
    transition: 0.4s ease-in;
}
.btn-content{
    display: flex;
    justify-content: end;
    margin-right: 2rem;
    
}
.rutas-container li:hover{
    border-bottom: 3px solid black  ;
    transition: 0.3s ease-in;
}
.rutas-container span{
    margin-right: 1rem;
}
@media (max-width:1700px){
   
    .rutas-container li{
        display: flex;
        flex-direction: column;

    }
    .realcontent li{
        margin:  1.2rem;
    }
    .realcontent li:hover{
        color: white;
        border-bottom: 3px solid white  ;
        transition: 0.3s ease-in;
    }
}
/*present*/
.total-presentation{
    width: 100vw;
    height: 100%;
    overflow: hidden;
}
.secction-presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../../assets/Images/philipp-kammerer-6Mxb_mZ_Q8E-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

    flex-direction: column;
}
.secction-presentation h1{
    font-size: 5rem;
    font-family: 'Monserrat';
    color: white;
    margin: 2rem;
    text-transform: uppercase;
    
}
.arrow{
    width: 6vmin;
	height: 6vmin;
	box-sizing: border-box;
    cursor: pointer;
	transform: rotate(-225deg);
}
.arrow::before{
    content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
}
.arrow::after{
    content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transform-origin: 100% 0;
		transition:.2s ease;
}
.arrow:hover::before{
    border-color: orange;
    transform: scale(.8);
}
.arrow:hover::after{
    transform: rotate(45deg);
    border-color: orange;
    height: 120%;
}

.arrow-content p{


    font-family: 'Sofia-Pro';
    color: white;
    font-size: 1.5rem;
}
.arrow-content{
    position: relative;
    top:25%;
    width: 100vw;
    height: 150px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: rebota  0.8s alternate infinite ease-out;
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50vw;
    height: 100%;
}
.btn-start{
    margin-top: 10rem;
    background-color: white;
    padding: 20px 50px;
    border: black 2px solid;
    border-radius: 3rem;
    font-size: 2rem;
    font-family: 'Sofia-Pro';
    font-weight: bold;
    color: black;
}
.btn-start:hover{
    background-color: black;
    color: white;
    border: solid white;
    cursor: pointer;
    transition: 0.4s ease-in;
}
button{
    background-color: inherit;
    border: none;
}
/*about*/
.total-about{
    width: 100vw;
    height: 100%;
    background: #04BFBF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: black;
}
.description-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 3rem;
    height: 100%;
    width: 100%;
}
.titulo{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items:center;
    height: 200px;
}
.content-titulo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 2rem;
    margin-top: 200px;
}
.content-titulo-pasos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.content-titulo h2{
    font-size: 4rem;
    font-family: 'Sofia-Pro';
    font-weight: bold;

}
.parrafo{
    width: 50%;
    height: 70% !important;

    font-family: 'Sofia-Pro';
    font-size: 2rem;
}
.parrafo h4{
    font-family: 'Sofia-Pro';
    font-size: 2rem;
    line-height: 40px;
    text-align: justify;
}

.video{
    width: 80%;
    height: 78%;
    border-radius: 2rem;
    background-color: white;
}
.video video{
    width: 93%;
 
    border-radius: 3rem;
}
.line{
    width: 50vw;
    background: white;
    height: 5px;
    border-radius: 2rem;
    margin-top: 1rem;
}
.line-morado{
    width: 550px;
    background: #04BFBF;
    height: 4px;
    border-radius: 2rem;
 
}
/*pasos*/
.morado-content{
    position: relative;
    top:10% !important;
    animation: rebota2  0.8s alternate infinite ease-out !important ;
    
}
.morado-content p{
    color: black !important;
    
}
.morado::before{
    content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #04BFBF;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
}
.morado::after{
    content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #04BFBF;
		transform-origin: 100% 0;
		transition:.2s ease;
}
.morado:hover::before{
    border-color: orange;
    transform: scale(.8);
}
.morado:hover::after{
    transform: rotate(45deg);
    border-color: orange;
    height: 120%;
}
.pasos-container{
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-titulo-pasos h2{
    font-family: 'Sofia-Pro';
    font-size: 3rem;
    font-weight: bold;
}
.container-si-eres h2{

    font-family: 'Sofia-Pro';
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.listas-content{
    width: 70vw;
    height: 55vh;
    background-color: #F2E3D5;
    border-radius: 2rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.foto-clientes{
    width: 100%;
    background-color: red;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../../../assets/Images/john-schnobrich-2FPjlAyMQTA-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-right: 2px white solid;
}
.foto-turista{
    width: 100%;
    background-color: red;
    height: 100%;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../../../assets/Images/bhupendra-singh-3n0FEnkoa4s-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 2px white solid;
}
.lista-cliente{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    border-radius: 2rem 0 0 2rem;
  
}
.turista-texto{
    margin-top: 1rem;
   
}
.cliente ul{
    list-style: none;
}
.cliente b{
    font-weight: bold;
    margin-right: 1rem;
}
.turistas b{
    font-weight: bold;
    margin-right: 1rem;
}
.cliente, .turistas{
   display: flex;
   align-items: center;
   width: 100%;
   height: 100%;
}
#si-eres > div.listas-content > div.lista-cliente > div.cliente > ul > li{
    margin-top: 2rem;
    display: flex;
}
#si-eres > div.listas-content > div.lista-turista > div.turistas > ul > li{
    margin-top: 2rem;
    display: flex;
}
.turista-texto, .cliente-texto{
    font-weight: bold ;
}
.turistas,.cliente{
    font-size: 1.5rem;
    font-family: 'Sofia-Pro';
}
.turista li{
    margin-top: 2rem;
}
.lista-turista{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    border-radius: 2rem 0 0 2rem;
}
.listas-content h3{
    color: white;
    font-size: 2.8rem;
    font-family: 'Sofia-Pro';
}

.container-si-eres {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*beneficio*/
.beneficios-content{
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../../../assets/Images/gaddafi-rusli-2ueUnL4CkV8-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
   
}
.content-secondary-benefits{
    display: grid;
    width: 100vw;
    height: 60vh;
    grid-template-columns: 1fr 1fr 1fr;
}
.rapidez, .acceso, .seguridad{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.texto{
   width: 70%;
   font-family: 'Sofia-Pro';
   text-align: center;
   font-size: 1rem;
}
.rapidez img ,.acceso img, .seguridad img{
    width: 40%;
    height: 40%;
}
.rapidez h4 , .acceso h4 , .seguridad h4{
    font-family: 'Sofia-Pro';
    font-size: 2rem;
    margin-top: 2rem;
}
/*comentarios*/
.comentarios{
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#enterate-2 p {
    text-align: center;
    padding: 0px 20px;
}

#enterate-2 .carta{
    text-align: center;
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
    color: white;
    height: 150px;
}
.content-comentarios{
    margin-top: 3rem;
}

.content-comentarios p{
    font-family: 'Sofia-Pro';
    font-size: 1.5rem;
}
.carta:first-child{
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("../../../../assets/Images/paquete2-2.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("../../../../assets/Images/paquete2-3.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("../../../../assets/Images/paquete-4.jpg");

}
.carta h3{
    font-family: 'Sofia-Pro';
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.carta p{
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 300;
}
.flecha-comentario{
    
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: rebota  0.8s alternate infinite ease-out;
}
.arrow-comentario{
    width: 6vmin;
	height: 6vmin;
	box-sizing: border-box;
    cursor: pointer;
	transform: rotate(-45deg);
}
.arrow-comentario::before{
    content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #04BFBF;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
}
.arrow-comentario::after{
    content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #04BFBF;
		transform-origin: 100% 0;
		transition:.2s ease;
}
.arrow-comentario:hover::before{
    border-color: orange;
    transform: scale(.8);
}
.arrow-comentario:hover::after{
    transform: rotate(45deg);
    border-color: orange;
    height: 120%;
}

.flecha-comentario p{

    margin-bottom: 1rem;
    font-family: 'Sofia-Pro';
    color: black;
    font-size: 1.5rem;
}
@media (max-width:2200px){
  

    .secction-presentation h1{
        font-size: 3rem;
    
        margin: 0;
       
        margin-top: 3rem;
        
    }
    .texto-container{
        margin-top: 3rem;
        display: flex;
        align-items: center;
        flex-direction: column  ;
        height: 200px;
    }
    .btn-start{
        margin-top: 4rem;
        padding: 10px 30px;
        font-size: 1.5rem;
      
    }
    .arrow-content{
        top: 15% !important;
    }

    .flecha-pasos{
 
        top: 3% !important;
        
      
    
    }

    .content-secondary-benefits{
        margin-top: 123px;
    
    }

    /*about*/

    .description-content{

        align-items: flex-start;
        margin-top: 0rem;
    }

    .parrafo{
        width: 90%;
        height: 40% !important; 
        margin-top: 4rem;
        font-size: 1.5rem;
    }

    .carta{
        height: 15px;
        padding: 20px 0 !important;
    }

}
@media (max-width:1700px){

/*presentation*/
.secction-presentation h1{
    font-size: 3rem;

    margin: 0;
   
    margin-top: 3rem;
    
}
.texto-container{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column  ;
    height: 200px;
}
.btn-start{
    margin-top: 4rem;
    padding: 10px 30px;
    font-size: 1.5rem;
  
}
.arrow-content{
    top: 5% !important;
}
/*about*/

.description-content{

    align-items: flex-start;
    margin-top: 0rem;
}

.titulo{
    font-size: 3rem;
    height: 200px;
}
.content-titulo{
  
    margin-left: 2rem;
    margin-top: 200px;
}
.content-titulo h2{
    font-size: 2rem !important;
    margin-bottom: 0.5rem !important; 
}
.content-titulo-pasos{

    margin-top: 0;
}
.line{
    margin-top: 1rem !important;
}

.parrafo{
    width: 90%;
    height: 40% !important; 
    margin-top: 4rem;
    font-size: 1.5rem;
}
.parrafo h4{
    font-size: 1.1rem;
    line-height: 25px;
}

.video{
    margin-top: 1rem;
    width: 80%;
    height: 60%;
    border-radius: 2rem;
    background-color: white;
}
.video video{
    width: 93%;

    border-radius: 3rem;
}
.line{
    width: 50vw;
    background: white;
    height: 5px;
    border-radius: 2rem;
    margin-top: 1rem;
}
.flechaabout{
    top: 5% !important;
}
/*pasos*/
.content-titulo-pasos{
    margin-top: 140px;
}
.content-titulo-pasos h2{
    font-size: 2rem;
}
.container-si-eres h2{

    font-family: 'Sofia-Pro';
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.listas-content{
    width: 70vw;
    height: 40vh;
    margin-top: 2rem;
}

.turista-texto{
    margin-top: 1rem;
   
}
.cliente, .turistas{
   display: flex;
   align-items: center;
   width: 100%;
   height: 100%;
}
#si-eres > div.listas-content > div.lista-cliente > div.cliente > ul > li{
    margin-top: 1rem;
    display: flex;
}
#si-eres > div.listas-content > div.lista-turista > div.turistas > ul > li{
    margin-top: 1rem;
    display: flex;
}
.turistas,.cliente{
    font-size: 1rem;
    
}
.listas-content h3{
    font-size: 2rem;
}
/*beneficios*/
.content-secondary-benefits{
    margin-top: 120px;

}
/*comentarios*/

.grids{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.content-comentarios{
    margin-top: 1rem;
}
.carta h3{
    font-family: 'Sofia-Pro';
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.carta p{
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 300;
}
.carta{
    height: 80px;
    padding: 30px 0 !important;
}
}
@keyframes rebota {
    0% {
      top:25.5%
    }
    100% {
      top: 24.5%;
    }
  }

  @keyframes rebota2 {
    0% {
      top:10.5%
    }
    100% {
      top: 9.5%;
    }
  }

  @font-face {
    font-family: "Sofia-Pro";
    src: url("../../../../assets//Fonts/sofiapro-light.otf");
}
@font-face {
    font-family: "Monserrat";
    src: url("../../../../assets/Fonts/Montserrat-Bold.ttf");
}

footer p {
    margin-top: 18px;
    font-size: 25px;
    font-family: "Sofia-Pro";
}

footer {
    font-family: Montserrat-Regular;
    background-color: #DCF5F6;
}

footer h3 {
    
    font-size: 33px;
    color: black;
    font-family: "Sofia-Pro";
    font-weight: bold;
}

.contacto-1 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.contacto-2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.footer-group {
    padding: 10px 40px;
    margin-right: 25px;
}
.footer-group-bottom{
    display: flex;
    padding: 0 5%;

}
.footer-group-bottom p{
    margin-top: 15px;
    margin-left: 0;
}
.sns{
    display: flex;
    flex-direction: row;
    margin-left: 58vw;
}
.sns img{
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 28px;

}
.sns p{
    margin-right: 15px;
}
.line {
    max-width: 95%;
    height: 2px;
    background: #16BAC5;
    margin: 10px auto;
    border-radius: 5px;
}
.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}