<app-secondarynavbar></app-secondarynavbar>
<section id="enterate-2" class="comentarios" #comentarios>
    <div class="container">
        <div class="titulo">
            <div class="content-titulo-pasos">
                <h2>Comentarios</h2>
                <div class="line-morado"></div>
             </div>
        </div> 
        <div class="content-comentarios">
        <p>Estos son los comentarios que dejan las personas que ya han tenido experiencia con nuestro
            servicio, lee lo que algunos opinan al respecto.</p>
        <div class="grids">
            <div class="carta">
                <h3>Ana Maria Caceres</h3>
                <p>“Me llegó a tiempo mi pedido, super puntuales”</p>
            </div>
            <div class="carta">
                <h3>Roberto Llanos</h3>
                <p>“El encargado de traer mi pedido fue muy atento y cuidadoso”</p>
            </div>
            <div class="carta">
                <h3>Alexa Del Carpio</h3>
                <p>“Buen servicio 100% seguro que volvere a usar esta app”</p>
            </div>
        </div>
        </div>
    </div>

</section>