<app-secondarynavbar></app-secondarynavbar>

<div class="main-content">
    <div class="title">
        <h2>Soporte</h2>
        <div class="linea"></div>
    </div>
    <div class="content-general-soporte">
        <div class="info-content">
            <h3>Contáctanos a través de las siguientes opciones</h3>
            <mat-icon class="img-msg"> message</mat-icon>
            <div class="info-secondary-content">
                <div class="icono-content">
                <mat-icon> contact_mail</mat-icon>
                </div>
                <div class="text-content">
                <h3>tmh@gmail.com</h3>
                </div>
            </div>
            <div class="info-secondary-content">
                <div class="icono-content">
                    <mat-icon>contact_phone</mat-icon>
                    </div>
                    <div class="text-content">
                    <h3>+51 962273579</h3>
                    </div>
            </div>
            <button mat-raised-button color="primary" style="border-radius: 2rem; width: 45%; height: 50px; background-color:#04bfbf; font-family: 'Sofia-Pro'; font-size: 1rem;font-weight: bold;">Enviar Mensaje</button>
            <div class="redes-sociales-content">
                <a href="https://www.whatsapp.com/" target="_blank"> 
                <img class="icon" src="../../../../assets/Images/whatsapp.png">
                </a>
                <a href="https://www.facebook.com/" target="_blank"> 
                <img class="icon" src="../../../../assets/Images/facebook.png">
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                <img class="icon" src="../../../../assets/Images/instagram.png">
                </a>
            </div>
        </div>
        <div class="info-content poto">
            <h3>Dejanos tu comentario</h3>
            <mat-form-field style="width: 80%;" class="example-full-width" appearance="fill">
                <mat-label style="font-size: 1.2rem; color:#04bfbf" >Ingresa tu comentario</mat-label>
                <textarea class="text-area" style="color: white; font-size: 1rem; font-family: 'Sofia-Pro';" matInput placeholder="Cuentanos..."></textarea>
              </mat-form-field>
              <button mat-raised-button color="primary" style="border-radius: 2rem; width: 45%; height: 50px; background-color:#04bfbf; font-family: 'Sofia-Pro'; font-size: 1rem;font-weight: bold; margin-top: 1rem;">Enviar Comentario</button>
        </div>
    </div>
    <div>
                
    </div>
    
</div>