.total-about{
    width: 100vw;
    height: 100%;
    background: #04BFBF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: black;
}
.description-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 3rem;
    height: 100%;
    width: 100%;
}
.titulo{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items:center;
    height: 200px;
}
.content-titulo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 2rem;
    margin-top: 200px;
}
.content-titulo-pasos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.content-titulo h2{
    font-size: 4rem;
    font-family: 'Sofia-Pro';
    font-weight: bold;

}
.parrafo{
    width: 50%;
    height: 70% !important;

    font-family: 'Sofia-Pro';
    font-size: 2rem;
}
.parrafo h4{
    font-family: 'Sofia-Pro';
    font-size: 2rem;
    line-height: 40px;
    text-align: justify;
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50vw;
    height: 100%;
}
.video{
    width: 80%;
    height: 78%;
    border-radius: 2rem;
    background-color: white;
}
.video video{
    width: 93%;
 
    border-radius: 3rem;
}
.line{
    width: 50vw;
    background: white;
    height: 5px;
    border-radius: 2rem;
    margin-top: 1rem;
}
.line-morado{
    width: 550px;
    background: #04BFBF;
    height: 4px;
    border-radius: 2rem;
 
}
.arrow{
    width: 6vmin;
	height: 6vmin;
	box-sizing: border-box;
    cursor: pointer;
	transform: rotate(-225deg);
}
.arrow::before{
    content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
}
.arrow::after{
    content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transform-origin: 100% 0;
		transition:.2s ease;
}
.arrow:hover::before{
    border-color: orange;
    transform: scale(.8);
}
.arrow:hover::after{
    transform: rotate(45deg);
    border-color: orange;
    height: 120%;
}

.arrow-content p{


    font-family: 'Sofia-Pro';
    color: white;
    font-size: 1.5rem;
}
.arrow-content{
    position: relative;
    top:25%;
    width: 100vw;
    height: 150px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: rebota  0.8s alternate infinite ease-out;
}
button{
    background-color: inherit;
    border: none;
}

@media (max-width:2200px){


    .description-content{

        align-items: flex-start;
        margin-top: 0rem;
    }

    .parrafo{
        width: 90%;
        height: 40% !important; 
        margin-top: 4rem;
        font-size: 1.5rem;
    }

}

@media (max-width:1700px){

    .description-content{

        align-items: flex-start;
        margin-top: 0rem;
    }
    .titulo{
        font-size: 3rem;
        height: 200px;
    }
    .content-titulo{
      
        margin-left: 2rem;
        margin-top: 200px;
    }
    .content-titulo h2{
        font-size: 2rem !important;
        margin-bottom: 0.5rem !important; 
    }
    .content-titulo-pasos{
    
        margin-top: 0;
    }
    .line{
        margin-top: 1rem !important;
    }
    
    .parrafo{
        width: 90%;
        height: 40% !important; 
        margin-top: 4rem;
        font-size: 1rem;
    }
    .parrafo h4{
        font-size: 1.1rem;
        line-height: 25px;
    }
    
    .video{
        margin-top: 1rem;
        width: 80%;
        height: 60%;
        border-radius: 2rem;
        background-color: white;
    }
    .video video{
        width: 93%;
    
        border-radius: 3rem;
    }
    .line{
        width: 50vw;
        background: white;
        height: 5px;
        border-radius: 2rem;
        margin-top: 1rem;
    }
    .flechaabout{
        top: 5% !important;
    }



}