<app-secondarynavbar></app-secondarynavbar>
<div class="total-about" #aboutus>
    <div class="secction-about">
        <div class="titulo">
            <div class="content-titulo">
                <h2>Sobre Nosotros</h2>
                <div class="line"></div>
             </div>
        </div>
        <div class="description-content">
            <div class="parrafo">
                <h4>
                    <b>TakeMeHome</b>, nuestra startup, es una aplicación disponible para todo tipo de dispositivo de forma web, que facilita la compra y entrega de productos de manera rápida y eficiente. A través de TakeMeHome una persona podrá hacer un pedido de algún paquete y será traído hacia él por medio de turistas que tienen planeado viajar a la localidad donde se encuentran, de este modo las personas podrán hacer compras en el exterior de manera más sencilla y el turista ganará dinero extra para su viaje.  
                </h4>    
            </div>
            <div class="video">
                <video src="../../../../assets/Images/WhatsApp Video 2022-09-23 at 6.19.06 PM.mp4" autoplay="true" loop="true"></video>
            </div>
        </div>
    </div>
  
</div>