<app-secondarynavbar></app-secondarynavbar>
<div class="beneficios-content" #beneficios>
    <div class="content-secondary-benefits">
         <div class="rapidez">
             <img src="../../../../assets/Images/beneficios-rapidez-blanco.png">
             <h4>Rapidez de Entrega</h4>
             <p>En takemehome los productos llegarán en el tiempo estimado y con el máximo cuidado.</p>
         </div>
         <div class="acceso">
             <img src="../../../../assets/Images/beneficios-24-horas-blanco.png">
             <h4>Fácil acceso</h4>
             <p> Nosotros brindamos un servicio que se acople a todos nuestros públicos objetivos con la finalidad que cada uno de ellos tengan un servicio adecuado y este disponible las 24 horas del día.</p>
         </div>
         <div class="seguridad">
             <img src="../../../../assets/Images/beneficios-seguridad.png">
             <h4>Seguridad</h4>
             <p>Buscamos que todos nuestro clientes se sientan en un espacio seguro y confortable para evitar cualquier tipo de problemas.</p>
         </div>
    </div>
   
 </div>